[2014-08-28 16:56] nadersoliman opened #2 "protractor config files & path joining"
Hell Carlos,

Your changes to how to make protractor config file configurable is much better, than mine. Sorry, I was in a hurry for another task at hand, so I slashed a quick solution together.

It would be great if in any protractor config file we can do something like

[code]

But we can't do that, because the following line in init-data which joins the directory with the filename

The line in

[2014-08-28 17:00] nadersoliman opened #3 "Ability to have multiple JSON objects in mock files"
Currently we need one json file for every mock object. It would be great if we can also support loading multiple mock objects from a single file in some like

[code]

The reason is that we sometime have multiple mocks we need to load in together to support a single test case and they don't mean much if they are alone.

[2014-09-10 19:34] isabolic opened #4 "example"
example

[2014-10-03 03:03] petersellars opened #5 "Using the mock file instead of inline mock"
When using mock['test'] I am not getting any mocks back but if I have the mock([{...}]); in the spec it works. I have literally cut and pasted the request from the inline to the file....how should the standalone file look?

[2014-10-31 03:16] #2 closed, assigned to nobody

[2014-10-31 03:16] #3 closed, assigned to nobody

[2014-10-31 03:17] #4 closed, assigned to nobody

[2014-10-31 14:25] #5 closed, assigned to nobody

[2014-10-31 21:59] peterh32 opened #6 "misidentifying protractor config file"
Somewhat of a protractor newbie so forgive me if this is user error.
My protractor conf filename is "protractor-conf.js".
When I run tests with protractor-http-mock, it looks for the filename "protractor.conf".
I can work around it by hardcoding the filename in line 34 in getMocksConfig() in init-data.js, but that's not viable long-term.

Here's how I run protractor tests:
   protractor --specs [p

[2014-12-12 03:41] #6 closed, assigned to nobody

[2014-12-19 15:57] ertrzyiks opened #11 "Problem with ngResource"
Hey,

looks like mocking http request fails when fired from ngResource. Has anyone tried this and got it working?

I updated example to use ngResource for one of GET requests and test suite goes red, you can see it here <a href="https://github.com/ertrzyiks/protractor-http-mock">ertrzyiks/protractor-http-mock</a>

[2014-12-25 14:51] jirihelmich opened #12 "Breaks $http.defaults.transformRequest"
When using this npm module, `$http.defaults` is undefined. Therefore calls like:

`transformRequest: transformations.concat($http.defaults.transformRequest)`

are broken.

[2015-01-02 04:14] nielssj commented on #11
Yes, I have had this issue. ngResource wraps $http module and invokes various functions such as `.get(url, config)`, `.delete(url, config)` and `.post(url, data, config)`. These functions are not being mocked by protractor-http-mock. Furthermore, promises (`.success(f(data))` and `.error(f(data))`) are not supported.

On my own branch I make use of an implementation from @ReactiveRaven which works

[2015-01-05 14:02] atecarlos commented on #11
Hi @nielssj ! I'm currently working on merging that branch in. I'm adding some few examples with the added convenience methods and it should be in shortly. I'll update here once posted.

[2015-01-05 14:08] atecarlos commented on #11
Done! New version published for 0.1.5. Please let me know if you find any issues. Thanks!

[2015-01-05 14:09] atecarlos commented on #12
Hi @jirihelmich . Did that fix solve the problem for you? I can add it to the main branch.

[2015-01-05 14:10] #11 closed

[2015-01-05 14:12] jirihelmich commented on #12
Hi, I haven't tried, I had to finish my test suite without using your library. But I will try. However, it does exactly what is needed, copies `$http.defaults`, so it should be fine. Will let you know.

[2015-01-05 14:15] atecarlos commented on #12
Thanks @jirihelmich !

[2015-01-08 15:33] jdgblinq commented on #6
Hey, thanks, btw. This is working great now. Sorry I didn't have a chance to take a look earlier.

[2015-01-11 17:05] ch000 commented on #11
What about restangular? Should protractor-http-mock work out of the box?
So far i did not get it to work, but i'm not shure if it's my fault, or if it's just not implemented.

[2015-01-13 02:28] atecarlos commented on #11
The initial implementation of this plugin was done for a Restangular based application. I haven't tried it recently but I can't think of a reason of why it would not work. What issues are you having @ch000 ?

[2015-01-13 02:28] atecarlos commented on #6
No problem! Very glad to know its all working now @jdgblinq

[2015-01-13 02:39] atecarlos commented on #11
As soon as I get some time, I will be working on examples with all the different apps to make sure everything continues to run well with the major libraries for Angular. Restangular will definitely be one of them.

[2015-01-13 10:17] OldBoarder commented on #12
within my environment ( Mac ) it is not running:

Fatal error: protractor exited with code: 8

npm ERR! protractor-http-mock@0.1.4 example: `grunt example`
npm ERR! Exit status 3
npm ERR!
npm ERR! Failed at the protractor-http-mock@0.1.4 example script.
npm ERR! This is most likely a problem with the protractor-http-mock package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fai

[2015-01-13 13:35] atecarlos commented on #12
Hi @OldBoarder . Are you able to run other protractor tests from your computer? Can you provide any further information in the form of logs to help you debug the issue?

[2015-01-20 11:47] marcelijanowski opened #13 "Problem with mock and interceptors"
Hi All,
I have problem with using this node library. I seems like every stuff I mocked not going though angular interceptor so results on frontend are different then expected because they are not transform before and after going though interceptor.

So in my angular app I have this interceptor:
[code]
But when I mocking http backend not picking up this and on frontend I have wrong response

[2015-01-22 13:37] atecarlos commented on #13
Hi @marcelijanowski . This is a known issue with this plugin. I have not been able to mock that interaction correctly, but I will continue to look into it.

[2015-01-22 14:08] marcelijanowski commented on #13
I started looking at this because I need it. Would like really to help.

[2015-01-29 06:13] colby-swandale opened #15 "mocks to a API on another domain"
Hey Guys,

I have a quick question, can i mock a PUT request that is being made to an API on another domain. Something like this:
[code]

This does not appear to be working in my tests, could i replace path with url maybe? Thanks!

[2015-01-29 16:28] atecarlos commented on #15
Hi @colby-swandale . As of right now, that functionality is not built into the plugin. Would you be able to submit a pull request for it? If not, I can tackle it as soon as I can.

[2015-01-29 16:28] atecarlos commented on #13
Hi @marcelijanowski . What is your question about unit testing?

[2015-01-29 21:41] colby-swandale commented on #15
Thanks @atecarlos. Ill see if i can spend some time for a PR this week.

[2015-01-30 13:40] dimhold opened #16 "How I can dynamically reload mocks in the test?"
Hi,

Thank you for a great plugin!

**How I can dynamically reload mocks in the test?**

Example:
I have a list of repositories, that I fetched by url `/repositories`.
And I want to delete one of them. When I delete repository, my business logic fetches repositories again by the same url: `/repositories` and expects that data will be updated.

Example:
[code]
Any ideas?
Thanks

[2015-01-30 14:29] atecarlos commented on #16
Hi @dimhold . As of right now this feature is not supported. Are there any query string parameters that change from call to call? That can help to distinguish one call from the other.

[2015-01-30 14:51] dimhold commented on #16
Hi @atecarlos
`Are there any query string parameters that change from call to call?`
Unfortunately no. And I don't have any chance to change API.

Will be great to see this feature in the future.

[2015-02-02 22:54] caguthrie opened #17 "Could you include an example for a POST request mock?"
I think it would be helpful.

[2015-02-03 13:54] atecarlos commented on #17
There is an example already under the examples folder in the plugin code. Or are you referring to an example in the README ?

[2015-02-03 17:01] JavaTheHood commented on #17
Is there also an example, that evaluates the payload of an post request mock?

[2015-02-04 14:37] JavaTheHood opened #18 "Protractor conf file not found, 'cause location dosen't match default"
By default the protractor file is expected to be in the project e2e folder, like this:
[code]

A Project setup like the following will leed to an error message
[code]

A setup like this will leed to this error:
[code]

[2015-02-04 14:38] #18 closed

[2015-02-04 21:37] marcelijanowski commented on #13
I don't understand how you testing this because for me saying var expectations = [{"one":"mock-one"},{"two":"mock-two"} is little poor for tests. I was assuming that you going to use angular and your will return something not like .toContrain ?

[2015-02-12 16:59] buob opened #20 "Change protractor.conf as default"
Is this a convention that I don't know about?  The protractor examples use `conf.js`.  Would it be alright to make the default something a little more standard (mostly for syntax highlighting).

[2015-02-19 16:50] caguthrie commented on #17
That's what I mean, returning different mocked data based on the data sent in a POST request.  Sorry for the delay and being unclear.

[2015-03-12 18:16] zigzackattack opened #21 "Match PUT/POST/PATCH data"
I'd like to build some mock responses for good and bad PUT/POST/PATCH calls. Currently, I can match query params in my mocks with the `request.params` option, but it would be nice to have a similar option for `request.data`. Looks like the [match](https://github.com/atecarlos/protractor-http-mock/blob/master/lib/http-mock.js#L29) method could call a `matchData()` function that would check whether

[2015-03-13 18:03] atecarlos commented on #20
Hi @buob . Back when I wrote this plugin, if I remember correctly, the default was protractor.conf.js. It seems that's changed now which is fine. I'm worried about the potential of breaking other people's test, but I'll definitely keep an eye on it if more people request it. Hope this helps.

[2015-03-13 18:03] #20 closed

[2015-03-13 18:04] atecarlos commented on #21
That's a great idea and I will definitely tackle it as soon as I can.

[2015-03-13 18:05] atecarlos commented on #17
I understand what you are asking now @caguthrie . I think that would be a great feature and I will do my best to add it in as soon as I can.

[2015-03-13 18:06] zigzackattack commented on #21
@atecarlos I can submit a PR if you're busy. I'd love to contribute to this project :).

[2015-03-13 18:08] atecarlos commented on #21
By all means go ahead if you have the availability. Please make sure to update the documentation and add examples for the new functionality if you do decide to do the change. I'm setting aside some time next week to work on this regardless and this is one of the first things on my list.

[2015-03-17 11:44] #21 closed

[2015-03-17 11:51] atecarlos commented on #17
Hello everybody. I just pushed a new version of the plugin with the functionality to match data on POST requests. I also updated the examples and documentation. Hope this helps!

[2015-03-17 11:51] #17 closed

[2015-03-17 11:55] atecarlos commented on #16
Hi @dimhold . Perhaps it would be useful to checkout the requestsMade method. This wouldn't provide any way to refresh the mocks, but at least you could verify that the GET request was called twice and right after the delete.

[2015-03-17 12:55] caguthrie commented on #17
Thanks!

[2015-03-26 23:39] scottohara commented on #12
First of all, great module @atecarlos. I love the fact that you don't need to modify the app's source (e.g. include a reference to `angular-mocks.js` in `index.html`) to enable mocking of the backend;  unlike other approaches that use `protractor.addMockModule()` and `ngMockE2E`.

Did anything further come of this issue?  I'm striking a similar problem with `$http.defaults` being undefined. In my

[2015-03-27 13:11] atecarlos commented on #12
I completely agree with you @scottohara . This shouldn't be a problem and I'll look into it as soon as I can. I never heard back from anybody else in the thread.

[2015-03-31 21:31] jdgblinq opened #23 "param support not really implemented, though documented"
I would like to use param matching in my mocks. Seems like this functionality is broken/partial. Here's a PR to add/fix it.

[2015-04-01 13:38] jdgblinq commented on #23
PR: https://github.com/atecarlos/protractor-http-mock/pull/24

[2015-04-10 09:08] keijoko commented on #12
Can you please fix this asap.
I can confirm that the fix by azevedo-252 works.

[2015-04-10 13:57] atecarlos commented on #12
Sure thing.

[2015-04-10 23:27] jonricaurte commented on #23
This doesn't seem to work for something like ?filters[something]=test

[2015-04-13 01:27] atecarlos commented on #12
Done. It's part of version 0.1.8 that was just published.

[2015-04-13 01:27] #12 closed

[2015-04-13 01:28] #16 closed

[2015-04-13 18:16] spamguy commented on #16
To be clear, at what level are multiple calls to mock() forbidden? Per it()? Per describe()? Per .js file?

[2015-04-13 18:27] spamguy opened #25 "Module 'httpMock' is not available"
I stuck a `mock.clearRequests()` in my first test inside a describe() to be extra super sure there were no requests pending. I got this error when I ran protractor:

[code]

I would think that, even if there are no requests archived, `mock.clearRequests()` would still work.

[2015-04-18 02:04] 29er opened #26 "Refusing to install protractor-http-mock as a dependency of itself"
anyone else get this error when running
'npm install protractor-http-mock --save-dev'
i've never seen this type of error before

[2015-04-20 07:35] thpongue commented on #26
You can get rid of the error by opening up package.json and changing "name" from "protractor-http-mock" to anything else. However, this would mean you're duplicating the codebase.

You're probably better off starting a new project and copying the example folder from this project into your new project then (as in the readme) changing:
[code]
to
[code]

I went through this process here: https://gith

[2015-04-20 13:01] jdgblinq commented on #23
I haven't tested that case, but I wouldn't be surprised if that's right. The problem with JS is that there is no solid query string parser built in, so everyone rolls their own. I stole the parser from the query-string library on github and hard coded it: https://github.com/atecarlos/protractor-http-mock/pull/24/files#diff-1de14bcfc873a6a7afb539aef7f95547R7

I hard coded it, because protractor-htt

[2015-04-22 02:53] jonricaurte commented on #23
Looks like it does support [] without this.

[2015-04-22 10:50] atecarlos commented on #23
Hi @jdgblinq and @jonricaurte . I'm currently working on testing and integrating this into the main branch. Thanks for the pull request.

[2015-04-22 10:50] #13 closed

[2015-04-22 10:52] atecarlos commented on #25
Could you provide an example of the test you are running?

[2015-04-22 10:54] atecarlos commented on #26
Hello @29er . What is it exactly that you are trying to do?

[2015-04-22 11:04] atecarlos commented on #16
Hi @spamguy . Yes you are correct, only one call is supported at the moment. I'll add this to my TODO list to see how this could be possible.

[2015-04-22 21:42] perilousleigh commented on #11
Bump on this.  I'm using Restangular and I cannot get it to work so far.  It seems like the underlying $http functions are not getting called so they're not getting mocked.

[2015-04-23 11:02] atecarlos commented on #11
Hi @perilousleigh. Do you mind opening up a new issue for Restangular?

[2015-04-26 23:10] RyanWarner opened #27 "Backend not being intercepted"
First of all, thank you for such an intuitively designed tool. I foresee this being incredibly useful and a joy to use.

I am unable to get my backend mocked. I have followed the setup instructions, studied the example, and browsed closed issues all with no luck.

- I have no errors.
- mock.requestsMade(  ) is returning an empty array.
- I can see my backend is still being hit, and the http reques

[2015-04-27 13:46] atecarlos commented on #27
Hi @RyanWarner . Thanks for that. Glad you are finding it useful. Could you post a sample test here? We can start there and see what we can do to fix your problem.

[2015-04-27 14:47] RyanWarner commented on #27
Thanks for the help. Here is my example test. `GET /api/user/list` is called when the controller loads. `POST /api/user/list` is called when clicking the `.enter-icon`.

When I run my server locally, I can see it (correctly) logging "Unauthorized".
[code]

[2015-04-27 14:50] RyanWarner commented on #27
Here is my Protractor config file:

[code]

[2015-04-27 14:52] RyanWarner commented on #27
In case it is more helpful to have access to *everything*, here is the repository and branch I'm working in: https://github.com/RyanWarner/app-sprout-client/tree/e2e-tests

That being said I have no problem pasting snippets. Whatever is easiest for you.

[2015-04-29 11:08] atecarlos commented on #23
Hi @jdgblinq @jonricaurte . So the problem was a misrespresentation in the documentation. The params property in the mock object is not meant to match the query string, but the params as passed to the $http object.

In what scenarios do you need to to actually match the query string? I'm working on that implementation, but just so I understand the scenario better.

I'll be publishing a new version

[2015-04-29 11:16] atecarlos commented on #27
Hi @RyanWarner . At first glance, your GET mock object is defining a data property with an empty array which I assume is not actually passed in when you make the call. Therefore, when its matching the requests, it's trying to match an empty data property with a non existing data property, and therefore its not mocking your call.

Could you try your test removing that?

[2015-04-29 13:16] jdgblinq commented on #23
We use query string params matching frequently. We use $resource to access RoR REST services. Sometimes these take params.

[2015-04-29 15:11] RyanWarner commented on #27
That's in the response though. It shouldn't really matter what's in the response should it? I'm intentionally returning an empty array here. The user has just signed up, and their list is empty.

Regardless, I tried removing it and it had no effect.

[2015-04-30 00:12] zeus3rd opened #28 "Multiple test files stops mock interceptor"
This may or may not be related to issue #27. I have 2x test files which both rely on the same mock interceptor. Running them one at a time works perfectly, however when I run both in one protractor environment (e.g. protract {conf} --specs 'test/pages/*.coffee') the first test's call is intercepted but the second isn't, it goes to the backend instead.

[2015-05-01 03:51] zeus3rd commented on #28
The (hopefully) temporary fix I've implemented to fix this issue is to shard my protractor tests so each test file is done in a new, standalone window unaffected by other tests. I don't think this is an ideal long term fix though, but if so, it should be mentioned in the readme.

[2015-05-02 18:12] atecarlos commented on #27
Hi @RyanWarner . Yeah you are completely correct. My mistake. I looked at it too early in the morning, and must have read it wrong. From what you put in I can't really see anything wrong with what you are doing.

If you do browser.pause() after your page is loaded, do you see any errors in your console on the browser?

If no, we can try opening up the source code (httpMock.js) and putting some con

[2015-05-02 18:14] atecarlos commented on #28
Could you put a snippet here of the 2 tests you are referring to? The mocks need to be setup completely before the browser opens. If you have two tests, are each test opening up a new browser window? And is the "mock()" function being called before each?

[2015-05-02 18:15] atecarlos commented on #23
I see. Great. I'm almost done with an implementation inspired from your pull request. I'll update here as soon as it is released.

Thanks!

[2015-05-04 15:58] Akenaide commented on #27
Hello,

You can try to put "post" in lowercase. I had a similarly issue and it was solved by putting "get" in lowercase in the mock's requests.

[2015-05-04 23:48] zeus3rd commented on #28
Config:
[code]

test1.coffee:
[code]
test2.coffee:
[code]

So in this instance no, the tests are not being run in different windows, they are run consecutively by protractor which I believe is default behaviour. The mock for test1 loads but the mock for test2 does not and these mocks are not made globally, they are made specific for each test.

So to fix this I added this to the protractor config:

[2015-05-05 16:51] brndnb commented on #25
I get this same `Module 'httpMock' is not available!` error message when trying to console log `mock.requestsMade()`

[2015-05-05 16:57] spamguy commented on #25
I'm willing to doubt my initial conclusion. @brndnb is probably right, and trying to log requestsMade() is the actual problem.

[2015-05-06 16:10] enigma1 commented on #27
In protractor-http-mock/lib/http-mock.js
The function match was changed from 0.1.8 to 0.1.9 and 0.1.10 and from what I tested its the reason tests now are failing because of the expectation mismatch

The old function was like this
[code]

Notice the "OR" operators for the params and data arguments. With the latest versions these are no longer optional but I am not sure why.. I went back to version

[2015-05-08 19:18] atecarlos commented on #28
I will make a note of in the documentation, thank you very much for pointing that out.

[2015-05-08 19:18] #28 closed

[2015-05-08 19:25] atecarlos commented on #27
Hi @enigma1 , in my own testing I didn't run through any problems with the recent changes. I would be glad to take a look, can you create a new issue and provide some samples tests?

[2015-05-08 19:29] atecarlos commented on #27
Hi @Akenaide , how are you executing the http calls in your app? Are you using any library on top of $http? All my examples use upper case methods and it works just fine. I'm not aware if some libraries are passing them in as lower case, but I would agree that it shouldn't really matter. I'll add code to ignore the case.

@RyanWarner , did this suggestion solve your problem by any chance?

[2015-05-08 19:39] atecarlos commented on #27
Hi @Akenaide . I just published version 0.1.11 with a fix for the casing issues. Please let me know if this solves your problem permanently.

[2015-05-08 19:46] atecarlos commented on #25
I understand @spamguy .

[2015-05-08 19:46] atecarlos commented on #25
@brndnb , are you still experiencing the same problems? I have not been able to replicate the issue.

[2015-05-08 23:06] brndnb commented on #25
Yes, I was. But after a couple more hours of troubleshooting, I had to switch to a different solution. Never did figure out why this was not working.

[2015-05-12 14:43] jlebrech opened #29 "Changing the mock folder structure."
maybe the mock folder could be in this format

`mocks/example.com/path/path/GET/resource.js`

then resource.js can just be the response and not need something like `module.exports =`

[2015-05-12 15:01] atecarlos commented on #25
Sorry to hear that. I'll keep an eye on this same problem in case it pops up again.

[2015-05-12 15:01] #25 closed

[2015-05-12 15:01] #26 closed

[2015-05-12 17:34] atecarlos commented on #23
Hi @jdgblinq and @jonricaurte . I just published a new version of the plugin with query string support. Thanks @jdgblinq . Your pull request was a great help. Please let me know how this works for you.

[2015-05-12 17:34] #23 closed

[2015-05-12 17:37] atecarlos commented on #29
Are you suggesting to define the path based on the URL of the request? How would you suggest the actual contents of those files be loaded?

[2015-05-13 17:43] RyanWarner commented on #27
I'm sorry I have been busy apartment hunting and had to put this down for a few days. Will take a look soon.

[2015-05-16 21:58] RyanWarner opened #30 "Backend should be mocked just by matching URL and method, data and others optional"
When setting up my mocks, if my actual HTTP request includes data and I fail to include the data attribute in the mock request, the entire HTTP request is not intercepted.

[code]
This fails to intercept the request and I can see my backend being hit. However...
[code]

[2015-05-16 21:59] RyanWarner commented on #27
Hey @Akenaide,

I updated to the latest version (0.1.12) and it seems to be working. Thank you for the fast fix.

I did notice something when trying to get it to work... see #30

[2015-05-18 19:11] atecarlos commented on #30
Yes. I understand your problem, and yes that was the original behavior. I'll change it back and release soon. I will update here when ready.

[2015-05-18 19:12] #27 closed

[2015-05-18 19:52] atecarlos commented on #30
Done! Just published new version 0.1.13 with the fix. Let me know how that works for you.

[2015-05-18 19:52] #30 closed

[2015-05-20 13:38] matthewjh commented on #13
See https://github.com/atecarlos/protractor-http-mock/pull/31

[2015-05-24 03:38] solcre commented on #29
Interesting idea

[2015-05-24 03:57] solcre opened #32 "Support for OPTIONS"
Is there support for OPTIONS method ?

Also can I specify headers ?

[2015-05-27 16:34] solcre commented on #32
Anyone around? heh

[2015-05-27 17:30] atecarlos commented on #32
I have not tested the OPTIONS method but I see no reason why it should not work. With respect to the headers, are you referring to matching a request to mock by headers?

[2015-05-27 17:48] solcre commented on #32
Yes to match and to be able to add headers to the response.

We use a full REST API (made with Zend Framework 2 Apigility) and headers
are very important for content negotiation and for authentication bearer
tokens

[image: Solcre Technology Solutions]

Matias Fuster Coll
Solcre Technology Solutions
www.solcre.com
+598 2706 9927
Ing. Luis P. Ponce 1443A
11602 Montevideo, Uruguay

On Wed, May 27, 2

[2015-05-28 21:13] solcre commented on #32
So, you think you can add support for headers ?

[2015-06-10 01:19] jonricaurte opened #33 "mock.requestsMade() is returning empty array"
I am currently on version 0.1.8 and tried to upgrade to latest. Noticed after I upgraded, I am now getting an empty array for requests made. I notice the same is happening here:

https://github.com/atecarlos/protractor-http-mock/issues/27

Thanks.

[2015-06-11 20:44] solcre commented on #32
Any updates on this ? :S

[2015-06-22 18:55] atecarlos commented on #32
Yes I think so. Sorry it's been crazy over here lately. I have reserved some time this weekend to look at this and I will keep you posted.

[2015-06-22 18:56] atecarlos commented on #33
Could you post your test here so I can try to replicate it ?

[2015-06-26 20:31] spatchamatla opened #34 "can protractor-http-mock Https requests"
Im trying to hit backend apis using protractor. So, want to know if protractor-http-mock can handle https as well? in the examples i see only http.

goal is to make client side (https) call to server and parse the response. Can you provide with an examples using authentications?

[2015-06-28 02:36] #29 closed

[2015-06-28 02:39] atecarlos commented on #34
I don't see why not. Its only interested in the path of the URL and has no logic based on http or https.

Not sure what examples you are requesting. But I'm very confident that you will not have any issues. Mocking for headers has not yet built into the plugin, but I'll be working on that soon.

Let me know how it goes!

[2015-06-28 02:39] #34 closed

[2015-06-28 10:46] batelsTabcorp commented on #32
Would love to hear about that addition as well !

[2015-06-28 16:30] solcre commented on #32
Go carlos!!! Gooo

El domingo, 28 de junio de 2015, Bat-El <notifications@github.com> escribió:

--

[image: Solcre Technology Solutions]

Matias Fuster Coll
Solcre Technology Solutions
www.solcre.com
+598 2706 9927
Ing. Luis P. Ponce 1443A
11602 Montevideo, Uruguay

[2015-07-02 09:42] ayeletdn commented on #33
I have the same issues with version 0.1.13

[code]

[2015-07-02 11:54] atecarlos commented on #32
Just an update. I made good progress on this last weekend, but I have not had any time to continue on it beyond that. I'll post an update here once its done.

[2015-07-02 12:46] solcre commented on #32
nice! keep me updated, this will be a very important improvement for me and
many others!

[image: Solcre Technology Solutions]

Matias Fuster Coll
Solcre Technology Solutions
www.solcre.com
+598 2706 9927
Ing. Luis P. Ponce 1443A
11602 Montevideo, Uruguay

On Thu, Jul 2, 2015 at 8:54 AM, atecarlos <notifications@github.com> wrote:

[2015-07-03 14:57] zalow517 commented on #15
Hi. What is the status of this please? Seems like mocking API requests on a domain other than the current Angular app is not working as of right now.

[2015-07-03 15:12] colby-swandale commented on #15
@zalow517 i never got around to this but but feel free to make your own PR if you wish.

[2015-07-08 14:45] atecarlos commented on #15
Hi @zalow517 . I would echo what @colby-swandale said and if you could get a PR delivered it would definitely help out tremendously to get this done as soon as possible. There are a couple of things I have in the pipeline and I will try to get into this as soon as I can.

[2015-07-11 04:48] batelsTabcorp commented on #32
Same here. Thanks @atecarlos !

[2015-07-12 02:36] atecarlos commented on #32
headers functionality released in v0.1.15!! @solcre @batelsTabcorp

[2015-07-12 02:37] #32 closed

[2015-07-12 03:02] atecarlos commented on #15
Hello @colby-swandale @zalow517 could you guys provide an example of what you are trying to do? The plugin code is very generic in that it really only cares about the "path" of the API. Do you need to be able to distinguish between similar paths across different domains?

Please take a look at the example app + test from the new example I added in external.spec.js. What is the difference with your

[2015-07-12 03:08] atecarlos commented on #33
Hello @ayeletdn @jonricaurte I have not been able to reproduce your issue. Have either of you tried debugging from the console on the browser while the test is running to be sure that the actual calls expected are made? Please note that the plugin only keeps track of the calls that it finds a match for based on your defined mocks.

[2015-07-30 21:33] josephdpurcell opened #36 "$http and $resource GET requests don't match mock"
I am not familiar enough with $http, $resource, and protractor-http-mock to know what is happening here, but I will do my best to thoroughly describe the problem and how to reproduce it.

# General Problem

The general problem I'm seeing is that sometimes my mock file does not match against the request being made, and sometimes it does match. I've identified four cases that might be useful for dis

[2015-07-30 22:04] josephdpurcell opened #37 "Method case causes unmached requests"
The method that gets specified in the mock file must match the case that is specified in the application.

# Angular Request

[code]

# Mock File

[code]

# Conclusion

I think expecting the writer of the mock to use the same case as is used in the Angular app isn't completely unreasonable, but it should be communicated to the developer that is the case.

What are your thoughts?

[2015-08-07 07:41] zalow517 commented on #15
@atecarlos

In your external.spec.js you are still only specifying the path (path: '/users'), therefore I assume you are still within the app's domain right? What I am having trouble achieving is to mock an external URL which is on an external domain not related directly to the Angular app's domain.

Example: api.venture.bookings.com/v2/auth
Instead of just: v2/auth

[2015-08-10 13:01] atecarlos commented on #15
Hi @zalow517 . I see where the confusion is. Are you setting the URL on the mock request definition like this?

`{
				request: {
					path: 'api.venture.bookings.com/v2/auth',
					method: 'GET'
				},
				response: {
					status: 200
				}
			}`

What the plugin is expecting is that you define the mock with the path of "v2/auth", but let your actual app make the call to the full URL. The plugin

[2015-08-10 13:06] atecarlos commented on #36
Hi @josephdpurcell . Thank you for an awesome and detailed explanation. And you are completely right. This must have been a regression from something that was working before. Yes, I believe $http does assume that a call without a method is a GET, so the plugin should handle that scenario gracefully and with the same rules.

I will make the change, and post back here when it's ready.

[2015-08-10 13:08] atecarlos commented on #37
Hi @josephdpurcell . Yes, actually, I completely expect the plugin to ignore the case. I have a few examples and specs that check that this is working. Perhaps, there is something else that is causing this to not match?

[2015-08-10 13:14] #33 closed

[2015-08-10 13:15] atecarlos commented on #36
@josephdpurcell Just posted a fix for this to 0.1.17. Please let me know if that solved your problem.

[2015-08-10 13:15] #36 closed

[2015-08-12 09:27] zalow517 commented on #15
Okay so it's still the same issue, but could the problem be the search query? the path needs to include such params? example: v2/auth?eventState=1

Do I include '?eventState=1' in the path attribute or do I need to add it to the params attribute?

[2015-08-12 09:58] zalow517 commented on #16
This sort of feature would be really useful. As I understand, right now there is no way to respond with different data on second request (which is exactly the same) right?

[2015-08-12 13:12] atecarlos commented on #15
No problem! @zalow517 glad to know everything is working for you.

[2015-08-12 13:12] #15 closed

[2015-08-12 16:55] atecarlos commented on #16
That's correct. Feel free to work on a pull request if you have a good way of implementing this already in mind.

[2015-08-19 18:23] josephdpurcell commented on #36
Hey @atecarlos, thank you for the fix! However, I'm thinking that actually fixes #37 instead of this one.

This one would be fixed by doing something like this in `/lib/httpMock.js`:

[code]

What do you think?

[2015-08-19 18:33] josephdpurcell commented on #37
Yes, apologies, it looks like this is not an issue.

[2015-08-19 18:33] #37 closed

[2015-08-25 19:18] josephdpurcell opened #38 "Query string does not match"
I noticed that there is a test for the scenario in which the query parameters are passed to Angular as part of the url, see https://github.com/atecarlos/protractor-http-mock/blob/master/tests/httpMock.test.js#L395.

However, there is also the case where the query parameters are passed as a config object, e.g.

[code]

It is in this scenario that the query string does not match the expectation.

#

[2015-09-11 06:19] kaimon opened #39 "matchData -> matchProperty"
function matchProperty calls angular.equals to do deep comparisons of expectations and config mocks.

Shouldn't the calls have a json.parse ? Otherwise data configs will come through as strings.

   angular.equals(expectationRequest[property], JSON.parse(config[property])

[2015-09-12 19:36] atecarlos commented on #38
The expectation is that it goes by what the $http object is receiving. Whether that's the best approach or not is certainly a valid debate, but it's an option that has served well from now.

With respect to the problem you have presented, again, thank you very much for the detailed comments and response.

To match by the params, then in your mock object you define "params" as opposed to "queryStri

[2015-09-12 19:36] #38 closed

[2015-09-12 19:38] atecarlos commented on #39
Hello @kaimon , could you provide a more concrete example of a real world problem? I have not heard of any issues with anything related to this so far.

[2015-09-18 13:26] BogdanLivadariu opened #41 "mocks seem not to work after a page refresh/change"
I'm using this module to mock the app while testing it with protractor

as far as I've seen, after I login into the app, and arrive at the home page, mocks are no longer working.

any ideas why ? or how can I reinject the mocks ?

thanks

[2015-09-22 14:09] labs-scnm commented on #41
Same problem for me.

If I run a test on one page in single mode, all tests run fine. But if I run the tests on a suite with page changes, nearly all mocks no longer work.

[2015-09-22 14:20] BogdanLivadariu commented on #41
hm ... I think I got to the bottom of this,

are you switching between applications ?

[2015-09-22 14:27] labs-scnm commented on #41
No, im still on the same app, but for me this config...
[code]

... fixed it.
Found on https://github.com/atecarlos/protractor-http-mock/issues/28#issuecomment-98886092

[2015-09-23 07:02] BogdanLivadariu commented on #41
interesting :)

[2015-09-28 13:11] #41 closed

[2015-09-28 13:11] #39 closed

[2015-09-30 16:32] gosiapeska commented on #25
Hi @atecarlos I am getting the same error.
[code]
my test:
[code]

my protractor config file:
[code]

[2015-10-02 20:10] TimMcCauley commented on #25
Dito, I'm experiencing this problem also.

error:
[code]

my test:
[code]

config:
[code]

@atecarlos  : any ideas why this is happening?

[2015-10-02 21:54] chasdr commented on #25
"Please note that the mock() function needs to be called before the browser opens. "

switch
[code]

to
[code]

[2015-10-03 10:29] TimMcCauley commented on #25
@chasdr - this doesn't make a difference :/

[2015-10-03 11:08] TimMcCauley opened #43 "Module 'httpMock' is not available"
I'm experiencing a problem testing with this cool library. I'm simply trying to test my login screen. Can anybody help? By the way, running the test environment of this lib does work flawlessly, I'm just experiencing problems with my own tests.

my test:
[code]

config:
[code]

error:
[code]

my node modules:

[code]

[2015-10-03 18:27] TimMcCauley commented on #43
Apparantly the reason for this is the ```browser.driver``` function. When I use

[code]

[2015-10-03 18:27] #43 closed

[2015-10-05 17:59] thiagofelix opened #44 "Break to match request.config intercepted and transformed into promise"
According to Angular documentation when implementing the request hook in the interceptor you are allowed to return a promise representing the new config object.
https://docs.angularjs.org/api/ng/service/$http#interceptors

And if you return a rejected promise the $http interprets that such request shouldn't even being made, since it failed before going through the interceptors.

Current implementa

[2015-10-05 19:36] brandonroberts commented on #44
@thiagofelix I've got a pull request in to fix this issue. Just waiting on the PR to get reviewed

https://github.com/atecarlos/protractor-http-mock/pull/42

[2015-10-12 10:39] deyceg opened #45 "interceptor/transformation handling"
Guys,

Placeholder for more information but the TL;DR version is I was finding an interceptor that defined both a ```req.transformResponse``` override and a response handler would invoke these backwards when using the mocking library.

In all scenarios the transformResponse was getting called before the response handler, but with the library it was getting called backwards.

This may or may not be

[2015-10-20 05:30] TimMcCauley opened #46 "intercepting http requests headers"
I'm currently using following code in angular to intercept all of my requests and add a header if my "token" is set in the $window.

        $httpProvider.interceptors.push(['$q', '$location', '$window', 'ENV',
            function($q, $location, $window, ENV) {
                return {
                    'request': function(config) {
                        if (config.url.indexOf("token") < 0) {

[2015-10-21 04:11] IgorNadj opened #47 "Is it possible to add a delay before response?"
This would be useful for testing e.g. slow connections.

[2015-10-22 18:11] atecarlos commented on #46
@TimMcCauley this seems like a pretty straight forward fix. I'll include this in the next update and I'll post here when its pushed.

[2015-10-23 14:38] vinkaga opened #48 "Usage questions and clarifications"
Hello,

Thanks for this wonderful module. I've been looking for test fixture to test client side code with interactions independent of the backend and this seems to be perfect for it.

However, I have questions regarding its usage (see https://github.com/atecarlos/protractor-http-mock/blob/master/example/spec/requestsMade.spec.js).
1. ```get()``` on line 44 seems to automatically invoke the first

[2015-10-23 21:49] atecarlos commented on #44
@thiagofelix @brandonroberts pull request has been merged and a new version published. Nice job @brandonroberts !

[2015-10-23 21:49] #44 closed

[2015-10-23 21:49] atecarlos commented on #45
@deyceg the PR with the promises fix has been merged. This may solve the problem you are having.

[2015-10-23 21:50] atecarlos commented on #46
@TimMcCauley this has been fixed and published in the latest version

[2015-10-23 21:50] #46 closed

[2015-10-23 21:53] atecarlos commented on #48
@vinkaga

1. The get is just opening the page. On load, the page does a request to /users. We are not executing a get in the sense of, say, an API call, but just loading the page.
2. They are sent to the server as defined in your application. Any unmatched request will behave as if the plugin was not present.

Hope this helps!

[2015-10-23 21:53] #48 closed

[2015-10-23 21:53] atecarlos commented on #47
@IgorNadj perhaps, yes. I'll add it on my todo list for now.

[2015-10-23 21:53] #47 closed

[2015-10-29 22:21] rscottfree commented on #25
I'm having the same issue when I just try to ```console.log(mock.requestsMade());```

I did have to use ```browser.ignoreSynchronization = true;``` in order to get my page to load, but I reset that to false before I try to access mock.requestsMade(). Don't know if that matters in trying to replicate this.

[2015-11-11 18:26] amatiasq opened #50 "Interceptor gets a promise when mock is applied."
I get this error when trying to mock my app:

    Broken interceptor detected: Config object not supplied in response:

After a little research I found it's [this line](https://github.com/chieffancypants/angular-loading-bar/blob/master/src/loading-bar.js?hc_location=ufi#L111) (thanks `loading-bar` project for including that check) throwing the error and its because `response` is a promise.

[2015-11-13 15:56] amatiasq opened #53 "Undefined parameters make expectations impossible"
I saw this call in devtools:

    /api/v1/issues?offset=0

So I created this mock:

    {
      method: 'get'
      path: '/api/v1/issues',
      params: { offset: '0' }
    }

But it doesn't match the call, after some debugging I found the actual request object is

    {
      url: '/api/v1/issues',
      params: { offset: '0', q: undefined }
    }

I added the `q: undefined` property to my expec

[2015-11-19 11:31] eliasre opened #56 "protractor-http-mock not capturing communication with server"
First, I'd like to say thanks to the devs of protractor-http-mock. Easy and intuitive:)

The app I am (helping) develop has a backend that I can run locally (and I usually do during development). The webapp will attempt to check authentication against the backend on initialization and will receive a 401 if it is not authenticated (in which case a modal will be displayed asking the user to log in).

[2015-11-19 22:05] alexandrmatsyuk92 opened #57 "Mock dynamic url's"
Hi. I'm developing weather forecast app. Front-end of my app makes different get queries to server like this:
localhost:3000/api/weather/22.30935/113.921988888889/1447970462561
localhost:3000/api/weather/49.13234/22.679924588889/1447938462456

Is there any way to mock this dynamic routes by your module?

For example: can I use something like this:

mock([{
      request: {
        path: 'localhost

[2015-11-20 13:11] arunbcodes opened #58 "No way to mock different response for the same request"
I have a scenario where there is a page which loads a default table which has two rows (I am able to mock this request - Lets say request1).So the request1 is going to return with 2 rows. I can add more rows to this table by clicking on "Add data to table" button and when i do that the default table reloads with the newly added rows (lets say i added 2 new rows). In this case the same request (req

[2015-11-21 16:19] hugobast opened #59 "transformResponse executes twice"
This is weird I really don't know what's going on and I am going to try to provide as much details as I can muster.

First, this is an Ionic project so that probably matters impact. Second this API call is handled by an ngResource model.

So I am in a protractor test and brower paused at the point before the API call so I can open up Chrome debugger and walk through it.

The first pass calls the t

[2015-11-23 03:30] hugobast commented on #59
Is the expectation that `transformResponse` interceptors are idempotent?

[2015-11-23 05:59] hugobast commented on #59
I think I might finally understand:

This loop: https://github.com/atecarlos/protractor-http-mock/blob/master/lib/httpMock.js#L68

Say we have 2 interceptors configured and also have one transformResponse. This loop will apply the transformResponse for every interceptors. In my case that's 2 but it could easily be 3+. Am I missing something? Is this working as intended?

[2015-11-23 15:00] Avessalom1 opened #61 "How to mock the data inside an iframe?"
Hi, first of all i'd like to thank you for the great job with the module, it is both intuitive and helpful. It was working perfectly till the moment i needed to mock the data i receive within an iframe. When i make a call outside of the iframe everything works like a charm, however the same call made from the iframe tries to fetch the data from the server. What can be the reason for this behaviour

[2015-12-03 00:03] atecarlos commented on #45
@deyceg please open a new issue if this is still not fixed for you. Thanks!

[2015-12-03 00:03] #45 closed

[2015-12-03 00:06] atecarlos commented on #56
Hi @eliasre . Have you been able to resolve this issue? The logic in the plugin is very simple: it it matches a request, then return the mock. If not, then do the $http call as normal. This is to potentially handle hybrid scenarios were you do not need to mock everything.

Could you provide some more information on the calls that are being made? For instance, what calls are you expecting to match

[2015-12-03 00:10] atecarlos commented on #57
@alexandrmatsyuk92 are you expecting to mock different responses for each dynamic route?

You could define an expectation with simply "api/weather", but I doubt that will be sufficient for you. Perhaps a better approach could be to be able to define a function that returns the response data as opposed to a static JSON definition. That's not currently an option at the moment.

[2015-12-03 00:13] atecarlos commented on #58
Hi @arunbcodes . That's exactly right. It's not a common pattern to have API calls return different values with exactly the same parameters. Do you have other options? Perhaps, moving some of the state to the client.

Good luck!

[2015-12-03 00:13] #58 closed

[2015-12-03 00:19] atecarlos commented on #59
@hugobast I understand the correct behavior is that the transformResponse is called first and then passed into the interceptors. It should not be called for every interceptor. I'll look into this and your PR.

[2015-12-03 01:05] atecarlos commented on #50
Hi @amatiasq . I submitted a more general fix for this among other issues. Please let me know if your issue is fixed. Thanks for the PR!

[2015-12-03 01:05] #50 closed

[2015-12-03 01:07] atecarlos commented on #59
This has been fixed in version 0.2.0. Let me know how that works for you.

[2015-12-03 01:07] #59 closed

[2015-12-03 01:13] atecarlos commented on #61
The page inside the iframe is accessing a different page of course, so when the mock plugin is setup through protractor, its only done on the main page (outside of the iframe).

The page within the iframe, I assume, is loading its own copy of Angular, correct? If so, then this page would be loading Angular without the plugin and your mocks would not work.

This is not a very common scenario and cu

[2015-12-03 01:13] #61 closed

[2015-12-03 01:22] atecarlos commented on #53
Hello @amatiasq. Not sure I understand the problem. For instance, if I do:

`angular.equals({ name: 'carlos' }, { name: 'carlos', q: undefined})`

Then the check comes back as true. Is that not what you are seeing?

[2015-12-03 11:13] eliasre commented on #56
Looks like my problem (logically), was 401s being returned (by backend) whenever the app requested something not intercepted by the mock.
Silly mistake on my part.

[2015-12-03 11:13] #56 closed

[2015-12-03 13:00] amatiasq commented on #53
Hi @atecarlos there's been some time since I debug this but I'm pretty sure I was getting false for this, can't confirm though because I've already left that project.

[2015-12-03 14:34] atecarlos commented on #53
OK. I'll close this one for now and I'll keep an eye on it. Thanks!

[2015-12-03 14:34] #53 closed

[2015-12-15 17:52] develoser commented on #16
Hi @dimhold,

There is a fork that has what you want to do, take a look https://github.com/SEEK-Jobs/protractor-http-mock/commit/b1edfc109d2eb65ca87b07fb6437357bb5b2ebd9

[2015-12-30 19:29] americoneto1 opened #65 "ptor.addMockModule with manual bootstraping"
@atecarlos this script works with manual boostrap (without ng-app), such as RequireJS for example?

It´s seems the same problem related to this issue: https://github.com/angular/protractor/issues/1090

[2015-12-30 20:47] #65 closed

[2016-01-09 22:44] #57 closed

[2016-01-14 21:43] jsyrjala opened #66 "Is it possible to not mock some of the queries?"
Is following possible with protractor-http-mock?

I have test case that makes a bunch of real http queries to back end server. Now I'd like to mock only one of the queries and have all the other request go to real back end server. If I understood protractor-http-mock correctly, it will mock all queries.

[2016-01-25 14:19] w-green opened #67 "Using this module to load mocks into an app as an angular module, outside of protractor"
We have been using Protractor Http Mock, and we’re happy with it.

However we saw some shortcomings… In particular the mocks will not be used if you refresh the page, or follow a click to a new page.

These both boil down to the use of adding the mocks via Protractor’s addMockModule.

Ideally it would be good if we could load the mocks into the app, before we run the e2e’s. Then we could refresh t

[2016-01-26 12:51] guven8 opened #68 "Is it possible to use this with ionic ?"
I have been trying to mock http requests for an angular ionic mobile app but I am having some issues, is ionic supported ?

[2016-02-02 08:16] BogdanLivadariu opened #69 "integrate with travis-ci to ease incoming pull requests"

[2016-02-02 18:05] JonDuffy opened #70 "Can data file be returned as a mock?"
Can I return other items in the mock, data other than JSON e.g. images, files or other types of Data?

If I can I haven't worked out how to yet

[2016-02-09 19:03] cayblood opened #71 "Module 'httpMock' is not available"
I'm trying to get a very basic mock setup working but it seems to be skipping the http mock altogether. The browser request executes normally and I get an error when selenium is not running. When I call `mock.requestsMade()` just to try to see what is happening, I get a `Module 'httpMock' is not available` error. Any help you can provide would be greatly appreciated.

Config:
[code]

Test:
[code]

[2016-02-09 19:50] Crevil commented on #71
Du you register the mock module in AngularJS ?

[2016-02-09 20:11] solcre opened #73 "Requests with FormData"
When dealing with requests with **FileUploads**, it is very common to use **FormData**.

Unluckily only Firefox 39 has getters to retrieve the values of the keys that have been appended. The rest of the **browsers just handle this data internally** in the browser. This makes testing almost impossible as you can't read values from the FormData object. I guess this is something that will change soon

[2016-02-09 20:55] cayblood commented on #71
Do I need to? The docs say that no changes to your angular app are needed.

[2016-02-09 21:06] Crevil commented on #71
No, that was my point. The injection error is from Angular, so I suspected this to be the case.
Can you supply the complete code base to study? I'd gladly help.

[2016-02-09 21:35] cayblood commented on #71
It's company code so I can't make it public, but I will try to reproduce the problem with a simple example and get back to you.

[2016-02-09 22:16] cayblood commented on #71
It occurs to me that I'm trying to mock out not just Ajax calls but the request for the app's main index page. I suppose this might be out of the scope of this project, right?

[2016-02-10 07:45] Crevil commented on #71
It doesn't sound right, to me at least. What is the purpose of this?

[2016-02-10 17:07] arunbcodes opened #74 "Is it possible to simulate a 400 or a 500 response?"
I would like to simulate the scenarios where the API returns 400 and 500 errors.  The requirement is to test how the UI responds when it receives a 400 or a 500 from API. I have already have mocks implemented in my tests using protractor-http-mock module but would like to know  if it is possible to mock the 400 and 500 errors

[2016-02-10 21:42] Crevil commented on #74
Just setup the mocks with these return values.

[code]

See the full reference here: https://github.com/atecarlos/protractor-http-mock#schema

[2016-02-12 17:38] cayblood commented on #71
Thanks. I was trying to mock the initial page load, which doesn't make sense. Sorry for the trouble. I will try this out when I'm ready to test other ajax calls that are made after the app loads.

[2016-02-12 17:38] #71 closed

[2016-02-16 14:24] atecarlos commented on #16
Hi @dimhold . This functionality has (finally) been added in version 0.3.0. Let me know how it works for you.

[2016-02-16 14:53] atecarlos commented on #66
Hi @jsyrjala . Yes you can do this. The plugin will only capture the requests it recognizes based on the mocks you define. Anything else will go through to the server as normal. Hope this helps!

[2016-02-16 14:53] #66 closed

[2016-02-16 14:57] atecarlos commented on #67
Hi @w-green . The original intent of the plugin was to work with single page applications. I have not given much thought into persisting mocks across page refreshes. Maybe something with localStorage could do the trick. It's an interesting idea for sure.

For now, just this morning actually, I published version 0.3.0 that allows dynamic adding and removing of mocks while your test is executing. Th

[2016-02-16 14:57] #67 closed

[2016-02-16 14:59] atecarlos commented on #68
Hi @guven8 . I have not tested this with ionic. What type of issues are you seeing? Perhaps its a quick fix to get it to work just fine.

[2016-02-16 14:59] atecarlos commented on #69
Hi @BogdanLivadariu . I have not worked personally with travis-ci. What exactly are you thinking about here?

[2016-02-16 15:00] atecarlos commented on #70
Hi @JonDuffy . Not at the moment, but I also have not tried it. How would you do this within your app using the $http module?

[2016-02-16 15:01] atecarlos commented on #74
That's correct @Crevil . Did that solve your problem @arunbcodes ?

[2016-02-16 17:10] BogdanLivadariu commented on #69
travis-ci is a continuous build command line interface, that builds your code & runs your tests
this way every PR that is raised will get the tests ran against, so you will know it does not create regressions

[2016-02-16 17:13] BogdanLivadariu commented on #69
I could push in the `.travis.yml` file that is required by travis, but you will have to add the project to travis in order for the builds to kick in.

all you need to do is to login with github at : https://travis-ci.org/
and add the repository, then every push towards the repo will translate to a new build geting started in travis.

if the build passes or fails the notification will be pushed tow

[2016-02-16 17:14] BogdanLivadariu commented on #69
an output can be see here: https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/1

[2016-02-16 18:37] atecarlos commented on #69
Thanks @BogdanLivadariu I'm working on that integration. I'm having some issues with executing the Selenium tests on travis. Unfortunately, I have to get to actual work but if there is anything you could recommend to get it going, feel free to comment back here.

[2016-02-16 18:45] atecarlos commented on #69
Actually, it seems to be running now, but the remaining problem is with Chrome crashing.

[2016-02-16 18:52] BogdanLivadariu commented on #69
I can help You with that running tests in headless mode în firefox on travis
On Feb 16, 2016 8:37 PM, "atecarlos" <notifications@github.com> wrote:

[2016-02-17 08:23] BogdanLivadariu commented on #69
@atecarlos raised this : https://github.com/atecarlos/protractor-http-mock/pull/75 regarding this issue

[2016-02-17 20:12] solcre opened #76 "Add collaborators"
Carlos,

What about adding some collaborators to speed up pull requests reviews and to answer issues? This project looks that is going to be very active.

[2016-02-17 20:40] solcre opened #77 "Add mock files in runtime"
@atecarlos I've seen you added some functionality from SEEK-jobs fork, but I think the way they coded it is better because you can add mock files at runtime. What's wrong with their code [here]. (https://github.com/SEEK-Jobs/protractor-http-mock/commit/22acf6101057b7e3f2d68456fafc8275a6cfc8ef)

[2016-02-24 00:00] cesargomez89 commented on #68
Same here, my problem maybe is because I'm getting the data from another server(API) so I'm setting complete urls in the path option

[2016-02-24 00:22] cesargomez89 commented on #68
here is my mock

[code]

I just added this at the top of my test
[code]
and this inside my `it` test
[code]

[2016-03-02 02:48] atecarlos commented on #68
Hi @cesargomez89 . The plugin is expecting a path on the "path" property of the mock definition. Have you tried it without "http://localhost:3001" ? It should not matter what the actual server is, but only the path of the URL. The only possible conflict is if your are requesting for the same path in two different servers? Which is unlikely I would think.

[2016-03-02 02:48] #69 closed

[2016-03-02 02:49] #70 closed

[2016-03-02 02:52] #74 closed

[2016-03-02 02:53] atecarlos commented on #76
Hi @solcre . I've thought about it, but at not at that moment yet. I think the overhead of adding other collaborators could be more than the benefit. I'll keep it in mind for sure. I'll be adding some contribution guidelines soon to try to smooth things out. Thanks for all the help!

[2016-03-02 02:53] #76 closed

[2016-03-02 02:55] atecarlos commented on #77
Hi @solcre . Nothing is wrong with their code. I'm aware of the difference in functionality, but I wanted to start simple and get some feedback on the feature first and then build from there.

[2016-03-02 02:55] #77 closed

[2016-03-03 11:26] BogdanLivadariu commented on #68
@cesargomez89
something like :
[code]

might work

[2016-03-23 15:27] #68 closed

[2016-03-23 15:35] solcre commented on #73
So FormData won't be supported ?

[2016-03-23 15:59] atecarlos commented on #73
That's not why I closed the issue. As we discussed before, we need to come up with a more generic approach. I'll reopen the issue to be clear on that in case anyone else has the same problem.

[2016-03-23 21:58] solcre commented on #73
The Polyfill one ?

[2016-03-31 11:58] atecarlos commented on #73
@solcre I'm working on a solution for this and other similar problems. I will post back here when it's complete.

[2016-03-31 13:03] solcre commented on #73
Ok, I think we should use the methods from the specification and create a
polyfill for those browsers that does not support it yet.

El Thursday, March 31, 2016, atecarlos <notifications@github.com> escribió:

--

[image: Solcre Technology Solutions]

Matias Fuster Coll
Solcre Technology Solutions
www.solcre.com
+598 2706 9927
Ing. Luis P. Ponce 1443A
11602 Montevideo, Uruguay

[2016-03-31 20:03] cezarpavelski opened #84 "Problem with mock and interceptors"
Hi,
I have problem with using this node library.
When I mocking http backend not picking up this and on frontend I have wrong response

[2016-03-31 20:24] cezarpavelski commented on #84
My interceptor is this:

(function(){
'use strict';

angular.module('XXXX')
  .factory('AuthTokenInterceptor', AuthTokenInterceptor);

function AuthTokenInterceptor($q, $injector){
  return {
      'request': function(config) {
        if (sessionStorage.getItem('access_token')) {
  				config.headers['Authorization'] = sessionStorage.getItem('token_type')+' '+sessionStorage.getItem('access_token'

[2016-04-07 01:12] atecarlos commented on #84
Could you provide more information? Your test, what errors you are getting, and what call is your app doing.

[2016-04-07 03:07] atecarlos commented on #73
Hello @solcre . I just published plugin capabilities for protractor-http-mock.

I believe this will allow you to extend your tests to properly match FormData with your workaround. You may also publish your plugin to NPM so others can take advantage of it.

I'm going to go ahead and close this issue and the associated PR. Open a new issue if you have any problems with plugins.

[2016-04-07 03:07] #73 closed

[2016-04-11 12:11] eddie opened #86 "Improve documentation around requestsMade() promise"
I wanted to do a partial response assertion to a request, it took a little bit of digging but eventually realised that requestsMade() returns a promise.

Here's the initial behaviour I expected:

[code]

And the actual behaviour

[code]

The second attempt is the correct way, as provided by protractor-http-mock.. But this isn't clear in the documentation. If this is correct, I'll try and open a PR

[2016-04-12 04:38] dagumak opened #87 "Difference responses for a given endpoint?"
For example, I have an application that polls for changes. Is it possible to give a set of responses for it to return in sequence?

[2016-04-12 05:15] Crevil commented on #87
This is not possible. What is your objective with this? It sounds to me like your trying to test several things at once?

[2016-04-12 06:11] dagumak commented on #87
@Crevil the objective its to test a polling service which would only stop polling when the status reaches success or failure. What suggestions do you have for testing a polling service?

[2016-04-12 06:52] Crevil commented on #87
I would test the polling action in one test and see that it requests the same endpoint several times. Next up I would make sure it stopped polling on a specific response. This success scenario does not need to test the polling mechanism again, as you already tested this.

Otherwise you could hack something with the dynamics mock APIs, something along returning one mock. After some delay push in a

[2016-04-12 06:54] Crevil commented on #87
Further more, I expect you to be e2e testing your application. This is, to me, more of a unit test, no?

[2016-04-12 06:55] dagumak commented on #87
@Crevil Fair point, and solid advice. Yes, I am also running an e2e test for it.

[2016-04-12 08:34] #87 closed

[2016-04-12 19:11] shssoichiro commented on #84
I'm experiencing a similar issue. I have a `responseError` interceptor, and most of my tests work without issues, but my test that should return a mocked response error fails--it doesn't show any error message out of the ordinary, just the standard "No element found using locator" as if the test was failing. As far as I can tell, it's behaving as if no API call (mocked or real) is being made.

The

[2016-04-12 19:25] cezarpavelski commented on #84
My error: isn't sent header "Authorization" in request when using interceptor and mock.
I am using oauth, how can I mock it?

[2016-04-13 23:18] jasteph opened #88 "Mock Error Response"
Angular $http documentation dictates, "A response status code between 200 and 299 is considered a success status and will result in the success callback being called".

If I create a mock which returns a 400/500 status it gets routed to the success callback.

[2016-04-13 23:24] jasteph commented on #88
Looks like there is some logic to handle this already at httpMock.js:211, maybe this is a configuration problem on my end.

[2016-04-15 19:58] danieljin opened #89 "How to match parameters? (non-query)"
If the request I want to mock is /users/:id
and I want to mock for all calls to users with an id in the path, is this achievable?

[2016-04-17 20:08] Crevil commented on #89
There is no way to do this in the current implementation.
If I may ask, when is this desired? When writing a test, you should be pretty clear on what requests are needed i stead of trying to mock all eventual requests, no?

[2016-04-17 20:12] Crevil commented on #88
Can you supply a sample of this? This should be handled correctly all ready as seen in this test: https://github.com/atecarlos/protractor-http-mock/blob/master/tests/promises.test.js#L19

[2016-04-18 11:46] apaatsio opened #90 "[request] pass-through option to mock only some API calls"
I would like to see a pass-through mechanism like in [ngMockE2E](https://docs.angularjs.org/api/ngMockE2E/service/$httpBackend).

This is useful when you want to have tests that have some calls to the real backend but also some mocked calls.

[2016-04-18 15:44] danieljin commented on #89
Right now I am creating a new user from the protractor test itself. The id is a guid so I don't know what the id will be at the time of mocking.

The angular httpbackend does provide regex parameter matching:
https://docs.angularjs.org/api/ngMock/service/$httpBackend#regex-parameter-matching

[2016-04-18 17:46] Crevil commented on #89
I see. Regex matching sure could be nice, and I believe it could be fairly simple to implement in the current setup. Maybe I'll get back to this with a PR.

[2016-04-20 14:18] atecarlos commented on #89
@danieljin @Crevil I think regex matching on the path is a great idea. If you can submit a PR, it would be a tremendous help.

[2016-04-26 12:56] atecarlos commented on #90
Hi @apaatsio .
Any call that does not have a mock defined for it should go through as a regular $http call. Is this not working for you?

[2016-04-26 12:57] atecarlos commented on #88
Hi @jasteph .

I'm going to close this issue for now. I assume that you have moved forward from this problem. Please open up a new issue if you continue having problems.

[2016-04-26 12:57] #88 closed

[2016-04-26 13:02] atecarlos commented on #84
@cezarpavelski it's hard for me to give you any recommendations on this since I can not see your app running. Are your oauth calls going through Angular $http? I would recommend inspecting your app network calls to see what calls are made and what their expected responses are. Perhaps, even put a console.log call inside Angular to see what the $http module is receiving. Good luck!

[2016-04-26 13:02] atecarlos commented on #84
Hi @shssoichiro . Please open up a new issue if you are still having that problem. It doesn't seem to be related to the original problem on this issue. Thanks!

[2016-04-26 13:47] shssoichiro opened #91 "Interceptors + protractor-http-mock results in no $http call being completed"
I have a `responseError` interceptor, and most of my tests (that don't go through any interceptors) work without issues, but my test that should return a mocked response error fails--it doesn't show any error message out of the ordinary, just the standard "No element found using locator" as if the test was failing. As far as I can tell, it's behaving as if no API call (mocked or real) is being mad

[2016-04-27 10:09] arnaugm commented on #89
It would be very helpful, I have the same use case where guids are part of the url.

[2016-04-27 15:00] arnaugm opened #92 "mock calls to third domains"
It would be very handy to be able to mock calls to external domains (http://www.external-service.com).
It doesn't seem to work using the `path` option. Am I missing something?

[2016-04-27 15:37] #92 closed

[2016-04-27 15:38] arnaugm commented on #92
Sorry it does work, I'm having a problem probably not related to the fact that the call is to an external domain.

[2016-04-27 16:07] arnaugm opened #93 "problem running the tests"
When running `grunt verify` I'm getting a warning and the tests don't run.
<pre>
Running "jasmine_node:all" (jasmine_node) task
(node) util.print is deprecated. Use console.log instead.

http mock
    sets expectations
    sets query string function

Finished in 0.008 seconds
2 tests, 3 assertions, 0 failures

Running "browserify:test" (browserify) task

Running "jasmine:test" (jasmine) task
Warni

[2016-04-28 20:24] cezarpavelski commented on #91
My application works perfectly without the mock, but when I use mock happens this error.

My Interceptor:
[code]

The mock:
[code]

The Error:
Failed: unknown error: Cannot set property 'Authorization' of undefined

[2016-04-29 12:26] atecarlos commented on #89
Thanks @Crevil PR this has been published in v0.7

[2016-04-29 12:26] #89 closed

[2016-04-29 13:10] #93 closed

[2016-04-29 13:19] atecarlos commented on #86
Done! @eddie .

[2016-04-29 13:19] #86 closed

[2016-04-29 13:27] atecarlos commented on #91
Hi @shssoichiro . The plugin as of now does not support `responseError` and `requestError` interceptors. This a new feature that we need to add. I'll get to it as soon as I can, or hopefully someone can take it on and submit a PR.

[2016-04-29 13:31] atecarlos commented on #84
@cezarpavelski I will respond to you in the first issue you created.

[2016-04-29 13:33] atecarlos commented on #84
@cezarpavelski what version of the plugin are you currently using? Can you put a console.log statement in your interceptor to see what the value of `config.headers` is?

[2016-04-29 14:42] eddie commented on #91
@cezarpavelski It's not ideal, but have you considered (in this situation) setting the access token with $http defaults instead?

For example (from the angular docs)

[code]

[2016-05-04 12:34] apaatsio commented on #90
Oh, you're right. I was just getting unexpected response from the backend for the unmocked requests which is why I was confused.

[2016-05-04 12:34] #90 closed

[2016-05-13 14:18] arnaugm opened #96 "mock.add() not working"
I need to add mocks at runtime so I'm using the `add()` method as suggested in the documentation. It doesn't seem to work though.
If I add the mock at creation time with the `mock()` function it works fine, but if I include the object later using the `add()` function, the `mock.requestsMade()` function tells me that the request was not made and I can see the real call in the browser.

protractor-h

[2016-05-19 10:16] slonya4ka commented on #91
@cezarpavelski i have the similar issue with headers. When I don't use protractor-http-mock application faills here in http.js because request.headers == undefined:
request: function (request) {
            **if (request.method === 'POST' && request.headers['Content-Type'].indexOf('application/json') > -1) {**
                var now = new Date();
                // copy to prevent original data d

[2016-06-01 23:37] atecarlos commented on #96
Hi @arnaugm . Could you provide some code from your test to help you debug?

[2016-06-01 23:37] #84 closed

[2016-06-02 00:21] atecarlos commented on #91
@cezarpavelski @slonya4ka I just pushed a new version 0.8.0 that adds empty default headers if none are provided. I think this may solve your issue. Please let me know how it goes.

[2016-06-08 12:06] shssoichiro commented on #91
I finally have a chance to work on this. I've produced a failing test case and hope to be able to PR a fix within the next couple of days.

[2016-06-24 07:05] miqdad-perk opened #98 "Empty array for mock.requestsMade()"
I am facing same issue mentioned in https://github.com/atecarlos/protractor-http-mock/issues/33 and https://github.com/atecarlos/protractor-http-mock/issues/27

protractor version 3.3.0
protractor-http-mock: 0.1.12

`protractor.conf.js`

[code]

`login.specs.js`

[code]

`teste\e2e\mocks\auth.js`

[code]

`output`

[code]

[2016-06-24 07:05] #98 closed

[2016-06-24 07:05] miqdadalik opened #99 "Empty array for mock.requestsMade()"
I am facing same issue mentioned in https://github.com/atecarlos/protractor-http-mock/issues/33 and https://github.com/atecarlos/protractor-http-mock/issues/27

protractor version 3.3.0
protractor-http-mock: 0.1.12

`protractor.conf.js`

[code]

`login.specs.js`

[code]

`teste\e2e\mocks\auth.js`

[code]

`output`

[code]

[2016-06-24 12:20] atecarlos commented on #99
Hi @miqdadalik do you see that your mocked data is actually coming back in the test?

[2016-06-24 12:21] #96 closed

[2016-06-24 13:07] miqdadalik commented on #99
@atecarlos Thanks for quick reply. I got it fixed.

Problem was mock and request was not same. Closing this issue

[2016-06-24 13:07] #99 closed

[2016-06-24 21:23] #91 closed

[2016-07-21 10:29] R1Daneel opened #100 "Missing git tags"
On the git repository only two tags were published. Instead on the npm page of the plugin there are 29 releases. Is it possible to publish the git tag for the missing releases? In this way there will be consistency between the npm page an the repository.

[2016-08-04 13:44] atecarlos commented on #100
@R1Daneel yeah you are right. I'll check this out as soon as I can.

[2016-08-18 17:03] deonclem opened #101 "browser.get(***) inside a suite breaks the mocks"
If I'm inside a test and manually update the url (using `browser.get(path)`), all the mocked calls aren't working anymore and I get a bunch of 404's instead. Same problem with `browser.navigate().refresh()`

I might be missing something but is there a way around this ? I need to reload my page with different url params to test different scenarios but I can't achieve that.

[2016-08-22 14:44] atecarlos commented on #101
Hi @deonclem . I haven't tried this myself, but here is something I think should work:

Have you tried splitting each new page load into separate tests? Something similar to [this](https://github.com/atecarlos/protractor-http-mock/blob/master/example/spec/postData.spec.js) were each "get()" call would be a call to a new URL. This way the mocks can be setup before the page is loaded for each URL. N

[2016-09-29 17:11] Kjir opened #103 "Using `mock.add` will give a timeout on Firefox 31.0 (TravisCI)"
In some of my tests I make use of `mock.add()`, but when running those tests on Travis CI - which uses firefox 31.0 - they will fail with a timeout error from protractor. I reproduced it locally, also, using that same version of firefox. Removing the `mock.add()` actually fixes the problem.

The error message I get is:

[code]

[2016-09-30 09:40] Kjir commented on #103
I investigated a little and what happens it this error from the Firefox console:
[code]

With further inspection inside the `matchExpectation` method I saw that the `expectations` array looks like this when first looping:
[code]
The last 2 objects have no `request` or `response` attribute, but they get populated at a later time. Those 2 objects are the ones added through `mock.add()`.
I'm thinking

[2016-09-30 09:57] Kjir commented on #103
It would seem it is not a problem with the `$scope.$digest`, but I couldn't find nothing more than this...

[2016-10-03 10:49] jamessmithxyz opened #104 "Runtime mock matching doesn't seem to function"
Browser: Firefox Linux 30.0

Matching requests made and mocks doesn't seem to work because mock variables have no keys in matching. They are shown when printed with console.log but not present in compare. As a workaroud I redefine add and remove functions in protractor config file to fix the matching:

onPrepare: function(){
  require('protractor-http-mock/index').remove = function(mocks){
    ret

[2016-10-03 14:30] atecarlos commented on #104
Hi @jamessmithxyz . I'm not quite clear on your problem. Could you provide more context?

[2016-10-03 14:30] #101 closed

[2016-10-03 14:33] atecarlos commented on #103
Hi @Kjir . The plugin definitely does not support adding empty objects to the `expectations` array. I assume you are not doing this on purpose, but could you provide more context to the problem to see if there is an issue with the plugin itself? Thanks!

[2016-10-03 15:24] jamessmithxyz commented on #104
The problem is runtime mocks (Firefox Linux 30.0). In tests I'm setting mocks:
mock = require 'protractor-http-mock/index'
...
mock [my_mocks]
...do stuff that hits mocks
mock.remove old_request
mock.add new_request

This works when I use the presented workaround but not with the original implementation. In workaround I checked that browser.executeAsyncScript call secord argument (=mocks in origin

[2016-10-03 16:01] atecarlos commented on #104
I'm not clear on what happens after
[code]
Are you expecting the `new_request` to be used in "do stuff that hit mocks"?

[2016-10-03 16:50] jamessmithxyz commented on #104
After these the application makes the same request that it did before changing the mocks. For example, 1) load and show of items, 2) click remove button, 3) load and show list of items. Check that the removed item is no longer shown. With the workaround the new mock is used. With the original code the new mock doesn't match with the request made although the objects are identical.

[2016-10-04 08:53] Kjir commented on #103
Hi @atecarlos,
sorry for not making it clear, but obviously I did *not* add an empty object, but a normal request. It shows up as an empty object inside the `matchExpectations`, even though they shouldn't. It's all happening inside the library itself because I do nothing fancy on the application side:

[code]

[2016-10-05 12:29] Zeouterlimits commented on #38
@atecarlos
I'm currently running into the same issue josephdpurcell mentioned [i.e. a GET request where we pass the queryParams as a configuration object].
Are you sure using params instead of queryString should work for this issue?
It's currently not matching for us when we try that.
Should the structure of the json object [queryString vs params] be any different?

[2016-10-05 13:25] PonyLux opened #105 "Runtime Error "mock.add" HttpMock unknow module"
I've  an issue using runtime mock with `mock.add`.

Seems like HttpMock module define lib/httpMock is never call.
The error:
[code]
Here is my configuration:

[code]

Spec:
[code]

Any idea about what is missing?

Thanks by advance!

[2016-10-07 09:54] patfrat opened #106 "Dynamically generate a response using queryString"
Is there a way to get url parameters or queryString in order to generate a response

[code]

[2016-10-17 13:04] atecarlos commented on #103
Hi @Kjir to confirm something, do these same tests work with other browsers, just not with FF 31.0?

[2016-10-17 13:06] atecarlos commented on #104
Hi @jamessmithxyz , have you been able to get these same tests to work on another browser? I'm seeing a trend here with issues using Firefox.

[2016-10-17 13:09] atecarlos commented on #105
Hi @PonyLux . Can you try calling the "mock()" function first before you call mock.add ?

That initial "mock()" call sets everything up, so I believe that should fix your problem. Hope this helps!

[2016-10-17 13:14] atecarlos commented on #106
Hi @patfrat . No there isn't a way to do this at the moment. The library is meant to use simple objects in both the `request` and `response` keys.

You are able to define different mocks with different query strings so that they return different values. But, if you have a lot of different variations there, which I assume is your case, I can see how it can be get cumbersome.

How about defining a `

[2016-10-17 13:37] PonyLux commented on #105
Hi !
Yes it works fine now :+1:
Thanks a lot!

[2016-10-17 13:49] patfrat commented on #106
Ok, thank you for your response ! I have defined multiple variations of my custom response and it works.

[2016-10-17 13:49] #106 closed

[2016-10-17 13:52] Kjir commented on #103
Hi,
yes, with other versions of Chrome it works. I haven't tried with updated versions of Firefox since I couldn't get protractor to run with them, but that's the version of Firefox present on Travis anyway...

[2016-10-17 15:52] #105 closed

[2016-11-10 19:38] barroudjo opened #112 "Incompatibility with angular-loading-bar"
Using all the latest versions, if I attempt to use angular-loading-bar and protractor-http-mock still results in the impossibility to make protractor work.
More precisely, once both libraries have been used, it seems protractor loses control over the browser. When in protractor repl, even a simple browser.getTitle() results in a timeout.

Any idea on this issue ? BTW here's the repo created by som

[2016-12-04 17:43] #104 closed

[2016-12-04 17:44] atecarlos commented on #103
Hi @Kjir I have not been able to follow up with this with older versions of FF. Were you able to find some resolution for this?

[2016-12-04 17:48] atecarlos commented on #100
Hi @R1Daneel . Unfortunately I haven't had any luck in researching this. I can't find a way to retroactively add the git tags beyond a lot of manual work. I'll make sure to keep these in sync in future releases.

Are you aware of a fast way to do this?

[2016-12-04 19:16] Crevil commented on #100
@atecarlos I've used SourceTree for things like this before. Just run down the history to where you have the release commits, right click and select "Tag...", if you are using Mac.
When done, push changes and check the "Push all tags" checkbox.

[2016-12-04 19:48] henrahmagix commented on #100
I've been working on a terminal script to automate this, just needs a tiny bit of work to be working 100%, will post in a mo =)

[2016-12-04 19:56] henrahmagix commented on #100
You can use `git log -G version -- package.json` to find all commits that changed a line with "version" in and only in the `package.json` file.

Here they are with `--oneline`:
[code]

Without commit message (`--pretty=format:"%h"` instead of `--oneline`):
[code]

[2016-12-04 20:02] henrahmagix commented on #100
This should do it I hope! I call it `autotag.sh` =D
[code]

[2016-12-04 20:08] henrahmagix commented on #100
References:

- Find commits that changed a line: https://git-scm.com/docs/git-log#git-log--Gltregexgt
- Log commit hash only: http://stackoverflow.com/q/31448445/3150057
- Silence terminal output: comment on http://stackoverflow.com/a/2293011/3150057

[2016-12-30 03:56] atecarlos commented on #112
Hi @barroudjo . I apologize I haven't had the time to look into this. Have you been able to make any progress in figuring out a potential solution?

[2016-12-30 03:58] atecarlos commented on #100
This is great @henrahmagix. Ill try to give this a shot over the coming holidays.

[2016-12-30 08:56] barroudjo commented on #112
The solution that I used was to "mock-out" angular-loading-bar on protractor tests (by using the possibility to add angular modules from protractor). It's a workaround though, not a real solution. If you found a way to keep the loading bar it'd be great !

[2017-01-12 14:02] atecarlos commented on #100
This worked great @henrahmagix . Thanks for the help! Tags are up on github.

[2017-01-12 14:02] #100 closed

[2017-01-12 14:02] #103 closed

[2017-01-12 14:29] atecarlos commented on #112
@barroudjo is this the error you are getting?

`Failures:
1) angular-loading-bar and protractor-http-mock should resolve data with loading bar
  Message:
    Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.
  Stack:
    Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.
        a

[2017-01-13 18:23] demee opened #114 "query-string 4.3.0 is breaking protractor-http-mock"
After release of query-string 4.3.0 we started seeing issues in our automated tests:

[code]

Reverting back to query string 4.2.3 fixes the problem above.

[2017-01-13 19:44] atecarlos commented on #114
Thanks for the heads up. I just published 0.9.2 which fixes the issue. I had to lock the down the version of query-string unfortunately since their new code is not compatible.

[2017-01-13 19:44] #114 closed

[2017-01-18 08:25] javimaravillas opened #115 "Browser.waitForAngular is not waiting to http request with delay"
Hi,
I'm doing something similar to:

`            button.click(); //submit http request that is mocked

            browser.waitForAngular();

            expect(message.getAttribute('class')).toMatch("alert-success"); // this class is in the dom when the http request is finished
`
`response: {
            data: {

            },
            status: 200,
            delay: 2000
        }`

When I

[2017-01-31 15:04] atomcat1978 opened #116 "Angular 1.6.1 compatibility"
We had a bunch of protractor tests using protractor-mock. As we have upgraded to angular 1.6.1, all of them got broken. It seems like the module registration for module "httpMock" fails as the test cases start up.

Bellow is a stacktrace:

'''
Failed: javascript error: [$injector:nomod] Module 'httpMock' is not available! You either misspelled the module name or forgot to load it. If registering a

[2017-02-23 14:43] Gbuomprisco opened #117 "Amount of mocks loaded breaks Protractor"
Sorry for the vagueness of this ticket, it is a very strange issue and I thought I'd post it here regardless.

I am working on a project in which all our tests are using mocks. The amount of mocked data is quite big, and yesterday we got a very strange issue:

[code]

At first I thought I'd written some syntax errors in the mocks, but they were fine. So I started removing some mocks, and discovere

[2017-03-18 13:55] atecarlos commented on #115
Hi @javimaravillas . Sorry for taking so long to reply. Are you still having this issue?

From the perspective of the plugin, there is nothing "holding" the test when you use the delay feature. This would have to be something that you handle within your test itself.

[2017-03-18 13:55] #115 closed

[2017-03-18 15:33] atecarlos commented on #116
Hi @atomcat1978 . I've ran all unit tests and examples using Angular `1.6.1` and protractor `4.0.14` with no major issues. I just had to adjust something for the unit tests to run with no issues. Are you still experiencing this problem?

[2017-03-18 15:35] atecarlos commented on #117
Hi @Gbuomprisco . I have not seen or heard about this issue before. I would be curious to try it out locally to see if I can reproduce the problem. If you are interested, feel free to post your mocks somewhere I can access it and I can try it out on my side.

[2017-03-18 15:35] #117 closed

[2017-03-18 15:35] atecarlos commented on #116
I've pushed to master the updates to the unit tests and examples to use Angular `1.6.1`

[2017-03-18 15:35] #116 closed

[2017-03-18 15:36] #112 closed

[2017-03-20 14:08] javimaravillas commented on #115
Hey there,
Yes it was still happening
Regards,

[2017-04-02 16:00] JJmaster08 opened #118 "$injector:nomod issue when using mock.requestsMade()"
Hi Mr. atecarlos,
Just a quick background on what i wanted to do...
**Long run:** I wanted to mock api calls from our company website(https://secure.myhr.asia) using your module due to i need to NOT modify the application codes as much as possible and just integrate my test to their current build. I needed to mock api/backend calls as the data being retrieved from api calls ranges from 1 to 5000 r

[2017-04-26 20:58] atecarlos commented on #118
Hi @JJmaster08 . If I'm following correctly, are you setting up the `mocks` within the protractor JS file? That's not the recommended way of doing it. Please refer to the examples in the repo for some tips on how to get everything setup.

With respect to not using the $http module, are you saying that you do not use it directly?  For instance, some libraries my depend on `$http` under the covers.

[2017-04-26 20:58] #118 closed

[2017-06-08 11:46] gustavocoelho opened #119 "Protractor mock REST request"
I'm runing the following spec file from protractor-http-mock and trying to figure a way to add it on another project but it seams that i've been missing something because it doesn't pass the test neither issues poped up on the console indicating some directions

spec: https://github.com/atecarlos/protractor-http-mock/blob/master/example/spec/requestsMade.spec.js

var mock = require('protractor-htt

[2017-06-08 14:34] atecarlos commented on #119
Hi @gustavocoelho , I think you are missing the part where you actually run the test. Just calling `mock` by itself doesn't do anything but setup the mocked data. But your app still needs to load and run. See the `get` function call on the example spec you are referencing.

[2017-06-08 14:34] #119 closed

[2017-06-08 15:19] gustavocoelho commented on #119
Alright then, i've just switched to the following code and yet haven't fixed anyhow

var mock = require('protractor-http-mock');
var globalE2EFunctions = require('./functions/global.e2e.functions.js');
const SLEEP_TIMER = 1000;

describe('REST Request Content', function () {

    beforeEach(function () {
        browser.get(''); //In protractor.conf.js there is a baseUrl pointing to 'http://localh

[2017-06-08 17:04] atecarlos commented on #119
Try setting up the mock before you open the browser. That's an intentional order that you can see in the example specs.

[2017-06-09 13:37] gustavocoelho commented on #119
Hi @atecarlos i've tryed by the end of the beforeEach method also right after it(...) instruction, none of them made any difference at all.

Protractor doesn't recognize mock.requestsMade().actionName: undefined

I haven't figure out what's wrong.

[2017-06-09 13:43] atecarlos commented on #119
What does `mock.requestsMade()` return?

[2017-06-09 15:16] gustavocoelho commented on #119
That's how is coming up on the console
ManagedPromise::278 {[[PromiseStatus]]: "pending"}

[2017-06-09 15:32] atecarlos commented on #119
Well that's expected, but what does the `promise` resolve to?

On Fri, Jun 9, 2017 at 11:16 AM, gustavocoelho <notifications@github.com>
wrote:

--
Carlos Atencio

[2017-06-09 16:28] gustavocoelho commented on #119
I suppose that matches data.detail attribute from the post request, alright?

mock([{
	response: {
		data: {
			actionName: 'LicensePlateEntered',
			actionValue: '62LZS7',
			message: 'Created. Action accepted for processing.'
		},
		status: 201
	},
	request: {
		path: '/actions',
		method: 'POST',
		data: {
			detail: 'CHAVE'
		}
	}
}]);
expect(mock.requestsMade()).toEqual([{
	url : '/actions',

[2017-06-12 13:27] atecarlos commented on #119
Yes, that looks correct. Does that test pass?

[2017-06-12 14:52] gustavocoelho commented on #119
No, it doesn't. Can't figure what's wrong.

[2017-06-12 14:59] atecarlos commented on #119
At this point, I'm inclined to think that there must be something different happening in your app, and the request your app is doing is not what you are expecting it to. Unfortunately, that's not something I could help you with beyond pointing you to the example spec that you already saw for guidance on what to expect.

Good luck!

[2017-06-22 05:55] pravinray opened #120 "Not able to make mock GET requests."
"Failed to load resource: net:: ERR_CONNECTION_REFUSED" error on some GET requests. But some requests are making the response.

[2017-06-22 11:04] atecarlos commented on #120
Hello. The plugin does not make any network calls. Most likely what's happening is that some of your calls are getting matched to be mocked and some are not. Those that are not may be causing that error due to a mis configuration of your app. Good luck!

[2017-06-22 11:04] #120 closed

[2017-06-26 21:56] sri85 commented on #116
@atecarlos I am facing the same problem
My Angular version is `1.5.11`
Protractor Version: `5.0`

[2017-07-03 14:27] atecarlos commented on #116
@sri85 did you get the latest version?

[2017-08-15 14:19] myfashionhub opened #122 "Does this work with Angular 2?"
I recently refactored a component using Angular 2 Http service. And the previous mock/integration test no longer works. I wonder if this is a compatibility issue, or something on my end.

[2017-08-17 12:50] atecarlos commented on #112
@barroudjo this PR addresses an issue with angular loading bar. Hopefully this solves the problem once and for all once it's merged in.

https://github.com/atecarlos/protractor-http-mock/pull/121

[2017-08-17 12:55] atecarlos commented on #122
Hi @myfashionhub . I have not tried this before, but I don't expect this plugin to work with Angular 2+ as those versions were a significant re-write, and this plugin depends on somewhat low level details of the Angular framework.

After a quick search on their documentation, I came across this: https://angular.io/api/common/http/testing/HttpTestingController

which seems like it's a built in solu

[2017-08-17 12:55] #122 closed

[2017-08-17 18:23] myfashionhub commented on #122
@atecarlos Thanks. I was able to confirm it doesn't work (my test was breaking all of a sudden).

[2017-09-20 13:48] Mishurin opened #123 "interceptor.request calls twice for one interceptor"
Hi there,

I am not really familiar with a topic of how angular handles interceptors however maybe someone met a similar issue and may help. I have a couple of interceptors pushed into $httpProvider. One of them runs an application spinner which increments a counter of requests per each request and deducts the counter after response. What the protractor-http-mock plugin intends to do is to call in

[2017-09-21 20:04] tauil opened #124 "getting JavaScript stack: ReferenceError: angular is not defined"
I've just installed the package and included the following code in my protractor test.

[code]

[2017-09-21 20:20] tauil commented on #124
I moved the protractorConfig to the protractor.conf.js on the onPrepare funcion and got this.

[code]

After that I found this: https://stackoverflow.com/questions/36354233/protractor-mocking-backend-with-angular2-on-api-request

Looks like it does not supports Angular 2+ applications yet. Sad.

[2017-09-21 21:54] atecarlos commented on #124
Hi @tauil . Yes, that's correct. It does not work on Angular 2 since it requires on some specific Angular 1 internals.

[2017-09-21 21:54] #124 closed, assigned to nobody

[2017-09-21 21:56] atecarlos commented on #123
Hi @Mishurin , just recently I published a new version of the package that includes some changes on how stateful interceptors should work. Please try it out. Hopefully that solves your problem.

[2017-09-21 21:56] #123 closed, assigned to nobody

[2017-09-22 13:20] tauil commented on #124
👍 Any plans to support it in Angular 2+ apps?

[2017-09-22 14:05] atecarlos commented on #124
Not at the moment. I don't have the bandwidth to do so, but any help in that regards would be greatly appreciated. Angular 1 and 2+ are so different, that I think any effort on that would require a full re-write of the plugin.

[2017-10-08 21:18] arrow-dev opened #125 "navigating in a test unloads mocks"
I have some tests where I load my mocks, call browser.get(), do some stuff, mocks work great, then a link is clicked, and the api is called again but this time the interceptor doesn't work.  Any suggestions? I'm most likely doing something wrong.
`
//Load a couple mocks
        mock(['mock1', 'mock2']);
        browser.get('')
//Do some tests, mocks work correctly then click a link to navigate

[2017-10-09 13:51] atecarlos commented on #125
Hi @arrow-dev . Based on your issue, I assume that on `link.click();` , your app is doing a full page reload. At that point, Angular is loaded again, but the plugin does not know that it needs to re-apply itself so that the mocks work.

Try calling `mock(['mock1', 'mock2']);` again after the link is clicked.

[2017-10-09 19:30] arrow-dev commented on #125
Hi @atecarlos, thanks for your reply, what you say makes perfect sense, unfortunately loading the mocks after the link is clicked does not fix my problem, I think the HTTP request is happening too quickly, I guess the main issue here is the way my app works as normally you would not be reloading angular mid test, however angular is reloaded at the beginning of each test which doesn't seem to be an

[2017-10-09 19:42] atecarlos commented on #125
@arrow-dev there might be some timing considerations there. I don't have an app where I could test that out, so it's hard for me to give you more detailed advice.

Perhaps try calling `mock.teardown()` as well to clear off the protractor module before adding it again (the plugin adds itself as a protractor module when you call `mock`).

But yes, you are right. Ideally your app should not have to r

[2017-10-09 19:48] arrow-dev commented on #125
Ok will try the teardown, Yea, it's not the way most of the app works but due to the nature of the requirements it has to work this way in one section.

[2018-04-17 14:30] wileyew opened #126 "Docs do not have json headers wrapped in double quotes"
@atecarlos I believe there is an issue with the README.md module where  the request and response headers need to be wrapped in double quotes. I believe the request and response header values need to wrapped in quotes. Example of reference below:
{
	request: {
      path: '/users/1',
      method: 'GET'
    },
    response: {
      data: {
        userName: 'pro-mock',
        email: 'pro-mock@emai

[2018-05-01 21:09] Jordan-Nelson commented on #125
I'm experiencing the same issue on an application with a login page. The Login page is a separate app, and the actual app is loaded after login. The API calls that need to be mocked happen immediately after logging in, and I cannot reliably add the mocks in the time between login and when the calls are made. I would imagine most people that have a separate login app would face this issue, which is

[2018-12-04 11:36] ipohosov opened #127 "Mock ignores requests if somewhere sync is ignored"
works well after removing  browser.ignoreSynchronization=true;

[code]

[2018-12-04 15:51] #125 closed, assigned to nobody

[2018-12-04 15:52] #126 closed, assigned to nobody

[2018-12-04 15:53] atecarlos commented on #127
Unfortunately, due to how protractor works, this plugin requires browser sync to be on.

[2018-12-04 15:53] #127 closed, assigned to nobody

[2019-10-31 14:55] martijndormans opened #128 "Mock post call cant check for certain ContentType."
So I am making an Angular 8 application where I can upload different types of file (etc: .txt and .pdf). For my e2e tests I want to return different data results when I am posting a certain type of file. This can be done by looking at the ContentType header but I don't think there is a way to check for that in a mock file.

It would be really nice if this is something you can add.

[2019-11-01 15:41] atecarlos commented on #128
Hi @spoilerdo . Thanks for the suggestion. That certainly sounds like a worthwhile feature.

At this point, I do not have the time to add new features, but I would gladly review or accept a pull request for this.